*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

:root {
    --white: #ffffff;
    --light-blue: #B5DDFF;
    --black: #000000;
    --blue: #0084FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-gray: #333333;
}

.debug {
    border: 1px solid red;
    min-height: 50px;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
} 

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-flow: column;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* ! Header */
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
    position: sticky;
    top: 0;
}

.hamburger {
    display: none;
}

.main-menu li {
    list-style: none;
    padding: 0 0.7rem;
}

.main-menu a {
    color: var(--white);
}

#btn-started {
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
}

/* ! Main */
#planning, #features, #get-started {
    background-color: var(--purple);
}

#intro {
    padding: 0 2rem;
    margin-bottom: 4.5rem;
}

#intro h3 {
    color: var(--blue);
}

.card {
    background-color: var(--light-blue);
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

p {
    line-height: 1.8rem;
}

.description-demo {
    padding: 1.5rem;
    padding-top: 2.5rem;
    width: 60%;
}

.description-demo h3 {
    padding-bottom: 1.5rem;
}

.btn-store {
    background-color: var(--blue);
    padding: 0.5rem 4rem;
    border-radius: 1.2rem;
    color: var(--white);
    letter-spacing: 0.2rem;
}

.fa-apple {
    padding-right: 0.5rem;
}

.description-demo p {
    padding-bottom: 2rem;
}

.phone {
    width: 15rem;
    padding-top: 4rem;
}

.icons {
    color: var(--blue);
    font-size: 5rem;
}

.code {
    padding: 1.5rem;
    text-align: center;
}

.code h3 {
    padding: 1.5rem 0;
}

/* ! Footer */
footer {
    background-color: var(--dark-gray);
}

/* ! RESPONSIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 750px;
    }
} 

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
} 